<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<form action="http://localhost:5000/add-product" method="POST">
    <p> {{ product }} </p>
    <p>Name <input type="text" name="name" value="{{product.name}}"/></p>
    <p>Price <input type="text" name="price" value="{{product.price}}"/></p>
    <p>Discount <input type="text" name="discount" value="{{product.discount}}"/></p>
    <p><input type="submit" value="{{ 'Create' if not is_edit else 'Edit'}}"/></p>
</form>
</body>
</html>